__pycache__/
*.pyc
/build
/dist

# Apache redirect file (for personal web server)
.htaccess

# .NET / C# build artifacts
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.json
!CribbageWPF/*.csproj
!CribbageWPF/Properties/*.json
