__pycache__/
*.pyc
/build
/dist

# Apache redirect file (for personal web server)
.htaccess

# .NET / C# build artifacts
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.user
*.suo
.vs/

# Keep project files
!*.csproj
!*.sln
